{% extends 'base.html' %}

{% block css %}
	<style type="text/css">
		.meta-data {
			color: #888;
		}

		p {
			color: #444;
		}
		
		img.entry-photo {
			max-width: 100%;			
			margin-top: 1.5em;
		}

		img.entry-photo:last-child {
			margin-bottom: 2em;
		}
	</style>
{% endblock css %}

{% block content %}
	{% if entry%}
	<div class = 'entry break-words'>
		<h2>{{ entry.subject }}</h2>
		<p class = 'meta-data'>Posted by: {{ entry.author.first_name }} at {{ entry.published }} | Last Edited: {{ entry.edited }}  {% if user == entry.author %}<a href="{% url 'diary:entry_edit_slug' entry.id entry.slug %}">edit</a>{% endif %}</p>
		
		{# <h1>{{ user }}</h1> #}
		{# <p>{{ entry.author }}</p> #}
		<p>{{ entry.body|safe|linebreaks }}</p>		
	</div>
	{% else %}
		<h1>Invalid Entry - No data to show</h1>
	{% endif %}
	{% comment %}
	{% if entry_photos %}
		{% for image in entry_photos %}
			<a target = "_blank" href = '{{image.image_file.url}}' title = 'Open in new tab'><img class = 'entry-photo' src="{{ image.image_file.url }}"></a>
			
		{% endfor %}
	{% endif %}
	{% endcomment %}

{% endblock content%}