{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href='{% static "library/summernote/summernote.css" %}'>
	<style type="text/css">
		.form-control, .btn {
			border-radius: 0;
			margin-top: 1em;
		}		

		input[name='subject'] {
			margin-bottom: 1em;
		}

		.note-editable {
			background-color: white;
		}		

		img {
			width: 100%;
			margin-top: 1em;
		}

		img.half-size {
			width: 50%;
		}

		textarea {
			min-height: 20em;
			max-width: 100%;
			resize: none;
		}

	</style>
{% endblock css %}

{% block content %}	
	<iframe src="{% url 'diary:test' %}" width = '100%'></iframe>
	{% if entry %}
		<form id = 'edit-entry-form' action = "{% url 'diary:entry_edit' entry.id %}" method = 'post' enctype="multipart/form-data">
			{% csrf_token %}
			<input class = 'form-control' type = 'text' name = 'subject' value = '{{ entry.subject }}' autocomplete = 'off'>
			<div id = 'summernote'></div>
			<textarea class = 'form-control' name = 'body'>{{ entry.body }}</textarea>		
			<input type = 'hidden' value = 'False' name = 'entry-delete'>

			
			<input class = 'form-control' type = 'hidden' placeholder = 'Selected Photo' name = 'selected-entry-photo'>
			{# <input class = 'form-control' type = 'file' name = 'new-entry-photo' id = "multi" multiple> #}
			<input type = 'hidden' name = "invalid-images">			
			<div class = 'row'>
				<div class = 'col-md-6'>
					<div id = 'delete-entry' class = 'btn btn-danger btn-block'>Delete Entry</div>
				</div>
				<div class = 'col-md-6'>
					<input type = 'submit' value = 'Update Entry' class = 'btn btn-warning btn-block'>
				</div>
			</div>
		</form>
		<form id = 'delete-entry-form' action = "{% url 'diary:entry_delete' %}" method = "post">
			{% csrf_token %}
			<input name = 'entry-id' type = 'text' value = "{{ entry.id }}">			
		</form>


	{% else %}
		<h1>This is edit entry page</h1>
	{% endif %}

	

{% endblock content %}

{% block script %}	
	<script type="text/javascript" src = '{% static "library/autosize/jquery.autosize.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "library/summernote/summernote.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "js/entry-editor.js" %}'></script>

	<script type="text/javascript">
		$(document).ready(function(){				
			summernote.code($('textarea[name="body"]').val())
			$('textarea[name="body"]').hide();

			currentEntry = $('input[name="entry-id"]').val()			

			$('#delete-entry').click(function(){
				var delEntry = confirm('Delete this diary entry?')				
				if (delEntry) {					
					$('#delete-entry-form').submit()										
				}				
			})

			$('input[type="submit"]').click(function(e){
				e.preventDefault()					
				if ($('#final-date').val() == ""){
					fillPublishTimestamp()
				}
				var sub = $('input[name = "subject"]').val()
				var bod = $('textarea[name = "body"]').val()								
				if (sub.length == 0 && bod.length == 0) {
					var submitEmptyEntry = confirm("You're about to publish an empty entry, is it ok?")
					if (!submitEmptyEntry){
						return
					}
				}		
				$('#edit-entry-form').submit();
			})			

			$('#edit-entry-form textarea').focus(function(){
				$(this).autosize();
			})
		})

	</script>

{% endblock script %}