{% extends 'base.html' %}

{% block css %}

	<style type="text/css">
		#entries a {
			color: #F37074;			
		}

		img {
			width: 100%;
		}
		
	</style>

{% endblock css %}

{% block content %}
	<span id = 'entries'> 
	{% for entry in entries %}
	<div class = 'entry-summary break-words'>
		<h1><a href="{% url 'diary:entry_slug' entry.id entry.slug  %}">{{ entry.subject }}</a></h1>
		<p>{{ entry.body|safe|linebreaks|truncatechars:300 }}</p>				
	</div>
	{% endfor %}
	</span>
	{# {{ message|safe }} #}
	

{% endblock content %}