{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block css %}
	{% comment %} 
	<link rel="stylesheet" type="text/css" href='{% static "library/medium-editor/css/medium-editor.min.css" %}'>	
	<link rel="stylesheet" type="text/css" href='{% static "library/medium-editor/css/themes/default.css" %}'>	
	<link rel="stylesheet" type="text/css" href='{% static "library/froala/css/froala_editor.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "library/froala/css/font-awesome.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "library/froala/css/froala_style.min.css" %}'>
	{% endcomment %}
	<link rel="stylesheet" type="text/css" href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href='{% static "library/summernote/summernote.css" %}'>
	
	<style type="text/css">

		.form-control, .btn {
			border-radius: 0;
			margin-top: 1em;
		}

		textarea {
			min-height: 30em;
		}

		#image-previews img{
			width: 20%;
			margin-top: 1em;		
		}		

		input[name='subject'] {
			margin-bottom: 1em;
		}

		.note-editable {
			background-color: white;
		}

		.note-resizebar {
			display:none;
		}
		

	</style>
{% endblock css %}

{% block content %}	

	<div id = 'image-previews'></div>	
	<form action = '{% url "diary:new_entry" %}' method = 'post' enctype="multipart/form-data" id = 'edit-entry-form'>		
		{% csrf_token %}
		<input type = 'text' name = 'subject' class = 'form-control' placeholder = "Title" autocomplete = 'off' maxlength = "180" value = "{{ subject }}">		
		<div id = 'summernote'></div>
		<textarea name = 'body' class = 'form-control' placeholder = 'Dear Diary,'>{{ body }}</textarea>		
		{# <input type = 'file' name = 'new-file' class = 'form-control' multiple id = 'image-uploader'> #}
		{# <input type = 'hidden' name = 'invalid-images'> #}
		<input type = 'submit' value = 'Post' class = 'btn btn-block btn-lg btn-warning'>	
	</form>
{% endblock content %}

{% block script %}
		
	<script type="text/javascript" src = '{% static "library/autosize/jquery.autosize.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "library/summernote/summernote.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "js/new-entry.js" %}'  ></script>	

{% endblock script %}