{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block css %}
	<link rel="stylesheet" type="text/css" href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href='{% static "library/summernote/summernote.css" %}'>
	<link rel="stylesheet" type="text/css" href="{% static 'library/rome-date/rome.min.css' %}">

	<style type="text/css">		
		#set-time {
			margin-bottom: 1em;
		}
		#time-picker {
			display: none;
		}

		.rd-container th {
			padding: 4px;
		}
		.form-control, .btn {
			border-radius: 0;
			margin-top: 1em;
		}

		#time-picker .form-control {
			margin-top: 0;
		}

		textarea {
			min-height: 30em;
		}

		#image-previews img{
			width: 20%;
			margin-top: 1em;		
		}		

		input[name='subject'] {
			margin-bottom: 1em;
		}

		.note-editable {
			background-color: white;
		}		

		#toggle-time-picker {
			cursor: pointer;
		}
		

	</style>
{% endblock css %}

{% block content %}	            
	<form action = '{% url "diary:new_entry" %}' method = 'post' enctype="multipart/form-data" id = 'edit-entry-form'>		
		{% csrf_token %}
		<p><a id = 'toggle-time-picker'>Set Publish Date</a></p>
		<div class = 'row' id = 'time-picker'>
			<div class = 'col-md-6'>
				<input class = 'form-control' id = 'date' name = 'datetimepicker' placeholder = 'Publish Date (Blank for today)'>	
			</div>
			<div class = 'col-md-6'>
				<input class = 'form-control' id = 'time' name = 'datetimepicker' placeholder = 'Publish Time (Blank for Midnight)'>					
			</div>
			<div class = 'col-md-12'>
				<div class = 'btn btn-success' id = 'set-time'>Set</div>				
			</div>
		</div>
		<input type = 'text' name = 'subject' class = 'form-control' placeholder = "Title" autocomplete = 'off' maxlength = "180" value = "{{ subject }}">		
		<p id = 'publish-time'></p>
		<div id = 'summernote'></div>
		<textarea name = 'body' class = 'form-control' placeholder = 'Dear Diary,'>{{ body }}</textarea>				
		{# <input type = 'file' name = 'new-file' class = 'form-control' multiple id = 'image-uploader'> #}
		{# <input type = 'hidden' name = 'invalid-images'> #}
		<input id = 'final-date' name = 'timestamp' type = 'hidden'>
		<input name = 'entry-id' placeholder = 'id'>
		<input type = 'submit' value = 'Post' class = 'btn btn-block btn-lg btn-warning'>			
	</form>

{% endblock content %}

{% block script %}	
	<script type="text/javascript" src = '{% static "library/autosize/jquery.autosize.min.js" %}'></script>		
	<script type="text/javascript" src = '{% static "library/summernote/summernote.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "library/moment.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "library/rome-date/rome.min.js" %}'></script>	
	<script type="text/javascript" src = '{% static "js/entry-editor.js" %}'  ></script>		
	<script type="text/javascript" src = '{% static "js/new-entry.js" %}'  ></script>		
{% endblock script %}