{% extends 'base.html' %}

{% block css %}
	<style type="text/css">
		td {
			border : 1px solid black;
		}
	</style>
{% endblock css %}


{% block content %}
	<table>
		{% for entry in entries %}
		<tr>
			<td><a title = "www.diaryexchange.com{% url 'diary:entry_slug' entry.id entry.slug %}"  href="{% url 'diary:entry_slug' entry.id entry.slug %}">{{ entry.subject }}</a></td>
			
			<td title = "{{ entry.edited}}">Last Edited: {{ entry.edited|date:'N d H:i'  }} <a href = "{% url 'diary:entry_edit_slug' entry.id entry.slug %}"><span class = 'glyphicon glyphicon-edit'></span></a></td>
			<td>{% if entry.is_draft == True %}Draft{% else %}Published{%endif%}</td>
		</tr>
		{% endfor %}			

	</table>
{% endblock content %}

